In [1]:
import pandas as pd

In [43]:
data = pd.DataFrame(pd.read_csv("CONVENIENT_global_deaths.csv"))

print(data["Argentina"].tolist())

[nan, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 2.0, 2.0, 1.0, 4.0, 5.0, 1.0, 4.0, 4.0, 1.0, 8.0, 3.0, 4.0, 1.0, 4.0, 8.0, 7.0, 9.0, 10.0, 1.0, 7.0, 7.0, 5.0, 9.0, 4.0, 8.0, 6.0, 3.0, 4.0, 11.0, 5.0, 13.0, 11.0, 9.0, 7.0, 5.0, 10.0, 7.0, 4.0, 7.0, 12.0, 9.0, 14.0, 4.0, 9.0, 9.0, 11.0, 7.0, 5.0, 9.0, 5.0, 10.0, 24.0, 3.0, 7.0, 10.0, 9.0, 11.0, 10.0, 13.0, 17.0, 12.0, 7.0, 15.0, 17.0, 16.0, 8.0, 12.0, 8.0, 11.0, 17.0, 13.0, 14.0, 25.0, 24.0, 16.0, 16.0, 29.0, 24.0, 18.0, 30.0, 20.0, 30.0, 18.0, 21.0, 24.0, 35.0, 35.0, 31.0, 13.0, 19.0, 32.0, 35.0, 38.0, 34.0, 34.0, 23.0, 25.0, 48.0, 27.0, 44.0, 34.0, 52.0, 44.0, 26.0, 75.0, 62.0, 50.0, 26.0, 54.0, 36.0, 35.0, 58.0, 65.0, 82.0, 62.0, 66.0, 42.0, 40.0, 113.0, 117.0, 98.0, 114.0, 105.0, 86.0, 46.0, 120.0, 120.0, 109.0, 153.0, 102.0, 53.0, 52.0, 165.0, 166.0, 127.0, 145.0, 160.0, 112.0, 83.0, 158.0, 240.0, 209.0, 149.0, 165.0, 110.0, 66.0, 111.0, 234.0, 282.0, 187.0, 213.0, 118.0, 137.0, 381.0, 197.0, 276.0, 211.0, 221.0, 82.0, 104.0, 203.0, 259.0, 199.0, 243.0, 262.0, 116.0, 120.0, 270.0, 276.0, 253.0, 249.0, 241.0, 115.0, 89.0, 315.0, 185.0, 264.0, 344.0, 196.0, 143.0, 254.0, 429.0, 470.0, 424.0, 390.0, 442.0, 335.0, 206.0, 364.0, 406.0, 418.0, 3351.0, 311.0, 196.0, 223.0, 450.0, 359.0, 399.0, 484.0, 515.0, 356.0, 287.0, 318.0, 386.0, 349.0, 421.0, 381.0, 384.0, 160.0, 449.0, 384.0, 419.0, 438.0, 381.0, 275.0, 283.0, 405.0, 429.0, 341.0, 371.0, 350.0, 210.0, 138.0, 483.0, 429.0, 468.0, 246.0, 370.0, 212.0, 212.0, 347.0, 276.0, 348.0, 251.0, 263.0, 262.0, 129.0, 291.0, 379.0, 241.0, 185.0, 258.0, 112.0, 100.0, 120.0, 310.0, 282.0, 227.0, 275.0, 106.0, 151.0, 257.0, 198.0, 228.0, 149.0, 207.0, 120.0, 138.0, 118.0, 121.0, 213.0, 209.0, 175.0, 62.0, 98.0, 275.0, 163.0, 161.0, 169.0, 138.0, 91.0, 50.0, 184.0, 257.0, 60.0, 0.0, 108.0, 79.0, 149.0, 218.0, 150.0, 145.0, 82.0, 74.0, 56.0, 107.0, 152.0, 151.0, 191.0, 146.0, 151.0, 144.0, 78.0, 159.0, 194.0, 135.0, 142.0, 102.0, 68.0, 112.0, 425.0, 234.0, 150.0, 139.0, 220.0, 162.0, 90.0, 207.0, 219.0, 182.0, 166.0, 174.0, 156.0, 43.0, 275.0, 177.0, 113.0, 161.0, 285.0, 125.0, 61.0, 227.0, 168.0, 108.0, 200.0, 155.0, 159.0, 48.0, 91.0, 105.0, 184.0, 241.0, 143.0, 122.0, 76.0, 161.0, 151.0, 140.0, 145.0, 92.0, 59.0, 19.0, 112.0, 115.0, 261.0, 191.0, 140.0, 86.0, 10.0, 241.0, 131.0, 107.0, 134.0, 85.0, 68.0, 24.0, 166.0, 200.0, 195.0, 155.0, 90.0, 41.0, 28.0, 126.0, 152.0, 123.0, 146.0, 143.0, 133.0, 81.0, 162.0, 125.0, 122.0, 83.0, 82.0, 83.0, 93.0, 272.0, 163.0, 198.0, 290.0, 228.0, 297.0, 132.0, 178.0, 217.0, 368.0, 383.0, 159.0, 80.0, 64.0, 248.0, 316.0, 291.0, 537.0, 556.0, 298.0, 170.0, 443.0, 512.0, 348.0, 561.0, 357.0, 231.0, 156.0, 540.0, 410.0, 663.0, 398.0, 609.0, 170.0, 283.0, 496.0, 490.0, 496.0, 447.0, 599.0, 400.0, 269.0, 505.0, 744.0, 494.0, 434.0, 692.0, 297.0, 375.0, 417.0]

In [51]:
dArgentina = data["Argentina"].tolist()
dBolivia = data["Bolivia"].tolist()
dBrazil = data["Brazil"].tolist()
dChile = data["Chile"].tolist()
dColombia = data["Colombia"].tolist()
dEcuador = data["Ecuador"].tolist()
dGuyana = data["Guyana"].tolist()
dParaguay = data["Paraguay"].tolist()
dPeru = data["Peru"].tolist()
dSuriname = data["Suriname"].tolist()
dUruguay = data["Uruguay"].tolist()
dVenezuela = data["Venezuela"].tolist()
dDate = data["Country/Region"].tolist()

In [65]:
sa_date_format = {'Date': dDate, 'Argentina': dArgentina, "Bolivia": dBolivia, "Brazil": dBrazil, "Chile": dChile, "Colombia": dColombia, "Ecuador": dEcuador, "Guyana": dGuyana, "Paraguay": dParaguay, "Peru": dPeru, "Suriname": dSuriname, "Uruguay": dUruguay, "Venezuela": dVenezuela}
sa_data = pd.DataFrame(sa_date_format)
print(sa_data)

               Date  Argentina  Bolivia  Brazil  Chile  Colombia  Ecuador  \
0    Province/State        NaN      NaN     NaN    NaN       NaN      NaN
1           1/23/20        0.0      0.0     0.0    0.0       0.0      0.0
2           1/24/20        0.0      0.0     0.0    0.0       0.0      0.0
3           1/25/20        0.0      0.0     0.0    0.0       0.0      0.0
4           1/26/20        0.0      0.0     0.0    0.0       0.0      0.0
..              ...        ...      ...     ...    ...       ...      ...
484         5/20/21      434.0     58.0  2403.0  172.0     490.0     43.0
485         5/21/21      692.0     87.0  2215.0  121.0     486.0     85.0
486         5/22/21      297.0     77.0  1899.0   96.0     509.0     73.0
487         5/23/21      375.0    108.0   860.0  132.0     496.0     13.0
488         5/24/21      417.0      0.0   790.0   30.0     483.0     17.0

     Guyana  Paraguay   Peru  Suriname  Uruguay  Venezuela
0       NaN       NaN    NaN       NaN      NaN        NaN
1       0.0       0.0    0.0       0.0      0.0        0.0
2       0.0       0.0    0.0       0.0      0.0        0.0
3       0.0       0.0    0.0       0.0      0.0        0.0
4       0.0       0.0    0.0       0.0      0.0        0.0
..      ...       ...    ...       ...      ...        ...
484     0.0      98.0    0.0       1.0     53.0       19.0
485     0.0     103.0  219.0       3.0     69.0       18.0
486     6.0     120.0  554.0       2.0     51.0       16.0
487     4.0     125.0  246.0       4.0     60.0       14.0
488     0.0     114.0    0.0       7.0     51.0       15.0

[489 rows x 13 columns]

In [68]:
sa_data = sa_data.drop(0)

In [69]:
print(sa_data)

        Date  Argentina  Bolivia  Brazil  Chile  Colombia  Ecuador  Guyana  \
1    1/23/20        0.0      0.0     0.0    0.0       0.0      0.0     0.0
2    1/24/20        0.0      0.0     0.0    0.0       0.0      0.0     0.0
3    1/25/20        0.0      0.0     0.0    0.0       0.0      0.0     0.0
4    1/26/20        0.0      0.0     0.0    0.0       0.0      0.0     0.0
5    1/27/20        0.0      0.0     0.0    0.0       0.0      0.0     0.0
..       ...        ...      ...     ...    ...       ...      ...     ...
484  5/20/21      434.0     58.0  2403.0  172.0     490.0     43.0     0.0
485  5/21/21      692.0     87.0  2215.0  121.0     486.0     85.0     0.0
486  5/22/21      297.0     77.0  1899.0   96.0     509.0     73.0     6.0
487  5/23/21      375.0    108.0   860.0  132.0     496.0     13.0     4.0
488  5/24/21      417.0      0.0   790.0   30.0     483.0     17.0     0.0

     Paraguay   Peru  Suriname  Uruguay  Venezuela
1         0.0    0.0       0.0      0.0        0.0
2         0.0    0.0       0.0      0.0        0.0
3         0.0    0.0       0.0      0.0        0.0
4         0.0    0.0       0.0      0.0        0.0
5         0.0    0.0       0.0      0.0        0.0
..        ...    ...       ...      ...        ...
484      98.0    0.0       1.0     53.0       19.0
485     103.0  219.0       3.0     69.0       18.0
486     120.0  554.0       2.0     51.0       16.0
487     125.0  246.0       4.0     60.0       14.0
488     114.0    0.0       7.0     51.0       15.0

[488 rows x 13 columns]